

<div class="container">
    <br>
<form [formGroup]="formularioProducto" (ngSubmit)="ingresar()">

        <div class="card  bg-light ">
            <div class="card-header">
                <h4 class="card-title">Formulario de productos</h4>
              </div>
                <div class="card-body">
            
                <div class="col-2">
                <p>Codigo:
                    <input type="text" formControlName="codigo">
                </p>
                <p>Nombre:
                    <input type="text" formControlName="nombre">
                </p>
                <p>Precio:
                    <input type="number" formControlName="precio" min="1" >
                </p>
                <p>Stock:
                    <input type="number" formControlName="stock" min="1">
                </p>
                </div>
                <div class="d-grid gap-2 d-md-block">
                    <div class="d-grid gap-2 d-md-block">
                        <button class="btn btn-outline-primary my-1" type="submit" >Ingresar</button>
                        <button class="btn btn-outline-success" type="reset">Limpiar</button>
                    </div>
                </div>
              
            </div>
        </div>

</form>
<hr>

<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Codigo</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let producto of productos">
            <th>{{producto.codigo}}</th>
            <th>{{producto.nombre}}</th>
            <th>{{producto.precio}}</th>
            <th>{{producto.stock}}</th>
        </tr>

    </tbody>
 
</table>
</div>
